body{ }

.nodos {
    width: 41.66666667%;
    

    /* width: 100%; */
    height: 430px;
    /* margin-top: 100px; */

    float: left;
    overflow-y: scroll;
    font-size:0.8em;
    margin-top:20px;
}


.fechas{
    height: 380px;

    margin-top:20px;
}

.fechas .radio{
    margin-top:0px;
    margin-bottom:0px;
}

.fechas label{
   font-size: 0.8em;
}

.modalitys{
    height: 380px;

    margin-top:20px;
}

.modalitys .checkbox{
    margin-top:0px;
    margin-bottom:0px;
    z-index:1 ;
}

.modalitys label{
    font-size: 0.8em;
}

.btn_modalitys  {
    float:right;
    z-index:-1;
}

.actions{margin-bottom:10px;}

.patients .accordion-heading {  position: relative; }
.patients .accordion-heading .edit {
    position: absolute;
    top: 8px;
    right: 30px;
}
.patients .level1 { margin-left: 0px ;background-color: #f38787; }
.patients .level2 { margin-left: 5px ;background-color:  #65c465; }
.patients .level3 { margin-left: 10px ;background-color:  #98b3fa; }
.patients .collapse.in { overflow: visible; }

.content-wrapper{

    margin-left: 0px;

}

