body{ }

.nodos {



    /* width: 100%; */
    height: 330px;
    /* margin-top: 100px; */

    float: left;
    overflow-y: scroll;
    font-size:0.8em;

}
 .nodos .box{
     background-color:#E0ECF8;;
 }

.fechas{
    height: 330px;


}

.fechas .box{
    background-color:#E0ECF8;;
}

.modalitys .box{
    background-color:#E0ECF8;;
}

.fechas .radio{
    margin-top:0px;
    margin-bottom:0px;
}

.fechas label{
   font-size: 0.8em;
}

.modalitys{
    height: 330px;


}

.modalitys .checkbox{
    margin-top:0px;
    margin-bottom:0px;
    z-index:1 ;
}

.modalitys label{
    font-size: 0.8em;
}

.btn_modalitys  {
    float:right;
    z-index:-1;
}

.actions{margin-bottom:10px;}

.patients .box-header{background-color:#E0ECF8;}

.patients .accordion-heading {  position: relative; }
.patients .accordion-heading .edit {
    position: absolute;
    top: 8px;
    right: 30px;
}
.patients .level1 { margin-left: 10px; border-bottom: solid 0.2px grey; background-color:#CEE3F6;  padding: 5px; }
.patients .level1 .table { margin-bottom: 0px;}
.patients .level2 .btn-xs { margin-right:5px; }
.patients .level2 { margin-left: 15px; padding: 5px; }
.patients .level2 .table { margin-bottom: 0px;}
.patients .level3 { margin-left: 20px; padding: 5px;  }
.patients .level3 .btn-xs { margin-right: 5px; }
.patients .level4 { margin-left: 20px; padding: 5px;  }
.patients .level4 .btn-xs { margin-right: 5px; }
.patients .collapse.in { overflow: visible; }

.patients .level1 a { color:black;  }

.content-wrapper{

    margin-left: 5px;

}

.content{
    padding-top:5px;


}

.table>thead>tr>td {

    padding:5px;

}

.config_nodos{
    margin-top:10px;
    margin-right:20px;
}

.search_menu{background-color:#F2F2F2;}

.modal-content {background-color:#E0ECF8;;}

.btn-xs {
    margin-right: 5px;
}

.tag_col .input-group{display:flex;}
.tags{padding: 0px;}